@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*--------------------------------------*/
[class*="__container"] {
  margin: 0 auto;
  max-width: 1200px;
}

.main {
  padding: 50px 0;
}

.main__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.todo__content {
  padding: 30px 5px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.todo__title {
  font-size: 25px;
  margin-top: 15px;
}

.btn {
  padding: 5px 15px;
  background-color: red;
  color: white;
  font-size: 20px;
}

.todo__note {
  background-color: #fecf88;
  padding: 20px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__note p {
  font-size: 20px;
}

.todo__note button {
  background: none;
  color: red;
  font-size: 18px;
  margin-left: auto;
  display: block;
}

.todo__input {
  padding: 5px 15px;
  background-color: #fcdfb9;
  font-size: 20px;
}

.note-completed {
  background-color: #fcf3e6;
}

.note-completed p {
  text-decoration: line-through;
}
